[Unit]
Description=Bearwall2
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/bearwall2
ExecStop=/usr/sbin/bearwall2 --flush

[Install]
WantedBy=multi-user.target
